body{
    overflow-x: hidden !important;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

#lang-selector {
    position: fixed;
    border-radius: 5px;
    background-color: #313131;
    color: white;
    width: 45px;
    height: 30px;
    font-size: 16px;
    top: 10px;
    right: 10px;
    margin: 4px;
    z-index: 1;
}

.mate-img {
    opacity: 0.65;
}

.timeline {
    background-color: white;
}